<div class="row">
  <div class="col-xs-12" [ngClass]="{'list-group-item': true,
 'list-group-item-success': post.loveIts > 0,
 'list-group-item-danger': post.loveIts < 0,
 'list-group-item-info': post.loveIts === 0}">

    <div class="col-xs-12 row">
      <h1 class=" col-xs-8">{{ post.title }}</h1>
      <span class="col-xs-offset-1 col-xs-3 text-right pull-right"> Mise à jour le: {{post.date | date:'short'}} </span>
    </div>

    <div class="col-xs-12 row">
      <blockquote>
      <p class="text-justify">{{post.contenu}}</p>
      </blockquote>
    </div>

    <div class="col-xs-12 row">
      <a class="col-xs-3 source text-body" href="{{post.url}}" target="_blank" *ngIf="post.url !== '' || post.url !== null">Source</a>
      <span class="col-xs-offset-6 col-xs-3 text-right text-muted pull-right">Posted by {{post.poster}}</span>
    </div>

    <div class="col-xs-12 row">
      <button class="pull-left col-xs-2 btn btn-success" (click)="onLoveIt()">
        love it
      </button>
      <button class="col-xs-offset-1 col-xs-2 btn btn-danger pull-left" (click)="onDontLoveIt()">
        don't love it
      </button>
      <div *ngIf="isAuth">
        <button class="col-xs-offset-2 col-xs-2 btn btn-danger " (click)="onDelete()">suprimer</button>
      </div>

        <button class=" col-xs-2 btn btn-default pull-right" (click)="onBack()">Retour</button>

    </div>
  </div>
</div>
