<div class="row col-xs-12">
  <h2>Posts</h2>

  <div class="list-group">
    <button *ngFor="let post of posts ; let i = index" (click)="onViewPost(i + 1)" [ngClass]="{'list-group-item': true,
 'list-group-item-success': posts[i].loveIts > 0,
 'list-group-item-danger': posts[i].loveIts < 0,
 'list-group-item-info': posts[i].loveIts === 0}">

      <div class="row">
        <h3 class="list-group-item-heading ">{{ post.title}}
          <button class="btn btn-default pull-right" (click)="onDeletePost(post)" *ngIf="isAuth">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          <button class="btn btn-default pull-right" (click)="onModifyPost(i)" *ngIf="isAuth">
            <span class=" glyphicon glyphicon-edit"></span>
          </button>
        </h3>
      </div>

      <div class="row">
        <p class="list-group-item-text ">de {{post.poster}}, mise à jour le {{post.date | date:'short'}}</p>
      </div>

      <div class="row">
        <blockquote>
          <p class="list-group-item-text">{{post.contenu.substr(0,149)}}</p>
        </blockquote>
      </div>

    </button>
  </div>

  <button class="btn btn-primary" (click)="onNewPost()" *ngIf="isAuth">Nouveau Post</button>
</div>
